html {
    color: orange;
}

/*
body {
    color: blue;
    background-color: dimgray;
*/

}

h1 {
    color: lightpink;
    background-color: beige;
    font-family: 'arial';
}

.cis-260 {
    color: orange;
    background-color: floralwhite;
}

.test {
    background-color: floralwhite;
}



p {
    color: floralwhite;
    background-color: burlywood;
}

a {
    color: mediumvioletred;
}

.link {
    background-color: thistle;

}
