html {
    color: orange;
}


body {
    color: blue;
    background-color: lightgoldenrodyellow;
*/

}

h1 {
    color: lightpink;
    background-color: beige;
    font-family: 'arial';
}

.cis-260 {
    color: orange;
    background-color: floralwhite;
}

.test {
    background-color: floralwhite;
}



p {
    color: floralwhite;
    background-color: burlywood;
}
#special-paragraph {
    color: blue
}
#special-paragraph{
    font-family: fantasy
}

a {
    color: mediumvioletred;
}

.link {
    background-color: thistle;

}
